<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Informacion</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="informacion-perfil.component.css">
</head>

<body>
  <main>
    <div class="d-flex align-items-center">
      <div class="card custom-card mx-auto position-relative">
        <img src="https://via.placeholder.com/800x150" class="card-img-top" alt="">
        <div class="profile-image">
          <img src="https://via.placeholder.com/150x150" class="rounded-circle position-absolute"
            style="top: -75px; left: calc(50% - 75px);" alt="">
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <p class="nombre-perfil text-center col-7">Nombre perfil</p>
          <button class="btn btn-primary button-edit-perfil">
            <i class="fas fa-edit mr-2"></i> Editar perfil
          </button>
        </div>
      </div>
    </div>
    <br><br>
    <nav class="nav nav-tabs justify-content-center">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="#">Publicaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Información</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Amigos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Fotos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Videos</a>
        </li>
      </ul>
    </nav>
  </main>
    <div class="container info">
      <div class="row">
        <div class="col-sm-12 col-md-6 mx-auto">
          <div class="card my-3 custom-card-info">
            <div class="card-body">
              <h5 class="card-title text-center">Información</h5>
              <hr class="my-4">
              <p class="text-center my-5">Información general</p>
              <p class="text-center my-5">Información de contacto</p>
              <p class="text-center my-5">Lugares de residencia</p>
              <p class="text-center my-5">Familia y relaciones</p>
              <p class="text-center my-5">Acontecimientos importantes</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container info-general">
      <div class="row">
        <div class="col-sm-12 col-md-6 mx-auto">
          <div class="card my-3 custom-card-info-general">
            <div class="card-body">
              <div class="d-flex my-5">
                <i class="fas fa-briefcase fa-lg mx-4"></i>
                <p class="text-center">No hay lugares de trabajo para mostrar</p>
              </div>
              <div class="d-flex my-5">
                <i class="fas fa-graduation-cap fa-lg mx-4"></i>
                <p class="text-center">No hay escuelas para mostrar</p>
              </div>
              <div class="d-flex my-5">
                <i class="fas fa-map-marker-alt fa-lg mx-4"></i>
                <p class="text-center">No hay lugares para mostrar</p>
              </div>
              <div class="d-flex my-5">
                <i class="fas fa-heart fa-lg mx-4"></i>
                <p class="text-center">No hay Información de situación sentimental para mostrar</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br><br><br><br><br><br><br><br>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>
