<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Buscar Amigos</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="buscar-amigos.component.css">
    </head>
    <body>

	<div class="container mt-3">
		<div class="input-group mb-3">
			<input type="text" class="form-control" placeholder="Buscar amigos">
			<div class="input-group-append">
				<button class="btn btn-primary" type="button">Buscar</button>
			</div>
		</div>
		<div class="row">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<h2>Sugerencias</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Nombre del amigo</h5>
								<p class="card-text">
									Edad: XX<br>
									Género: Masculino<br>
									Ubicación: Ciudad, País
								</p>
								<a href="#" class="btn btn-primary"><i class="fas fa-user-plus"></i> Agregar amigo</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Nombre del amigo</h5>
								<p class="card-text">
									Edad: XX<br>
									Género: Femenino<br>
									Ubicación: Ciudad, País
								</p>
								<a href="#" class="btn btn-primary"><i class="fas fa-user-plus"></i> Agregar amigo</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Nombre del amigo</h5>
								<p class="card-text">
									Edad: XX<br>
									Género: Otro<br>
									Ubicación: Ciudad, País
								</p>
								<a href="#" class="btn btn-primary"><i class="fas fa-user-plus"></i> Agregar amigo</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Nombre del amigo</h5>
								<p class="card-text">
									Edad: XX<br>
									Género: Otro<br>
									Ubicación: Ciudad, País
								</p>
								<a href="#" class="btn btn-primary"><i class="fas fa-user-plus"></i> Agregar amigo</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<br>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Nombre del amigo</h5>
								<p class="card-text">
									Edad: XX<br>
									Género: Masculino<br>
									Ubicación: Ciudad, País
								</p>
								<a href="#" class="btn btn-primary"><i class="fas fa-user-plus"></i> Agregar amigo</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Nombre del amigo</h5>
								<p class="card-text">
									Edad: XX<br>
									Género: Femenino<br>
									Ubicación: Ciudad, País
								</p>
								<a href="#" class="btn btn-primary"><i class="fas fa-user-plus"></i> Agregar amigo</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Nombre del amigo</h5>
								<p class="card-text">
									Edad: XX<br>
									Género: Otro<br>
									Ubicación: Ciudad, País
								</p>
								<a href="#" class="btn btn-primary"><i class="fas fa-user-plus"></i> Agregar amigo</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Nombre del amigo</h5>
								<p class="card-text">
									Edad: XX<br>
									Género: Otro<br>
									Ubicación: Ciudad, País
								</p>
								<a href="#" class="btn btn-primary"><i class="fas fa-user-plus"></i> Agregar amigo</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-md-3">
                    <br>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Nombre del amigo</h5>
								<p class="card-text">
									Edad: XX<br>
									Género: Masculino<br>
									Ubicación: Ciudad, País
								</p>
								<a href="#" class="btn btn-primary"><i class="fas fa-user-plus"></i> Agregar amigo</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Nombre del amigo</h5>
								<p class="card-text">
									Edad: XX<br>
									Género: Femenino<br>
									Ubicación: Ciudad, País
								</p>
								<a href="#" class="btn btn-primary"><i class="fas fa-user-plus"></i> Agregar amigo</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Nombre del amigo</h5>
								<p class="card-text">
									Edad: XX<br>
									Género: Otro<br>
									Ubicación: Ciudad, País
								</p>
								<a href="#" class="btn btn-primary"><i class="fas fa-user-plus"></i> Agregar amigo</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Nombre del amigo</h5>
								<p class="card-text">
									Edad: XX<br>
									Género: Otro<br>
									Ubicación: Ciudad, País
								</p>
								<a href="#" class="btn btn-primary"><i class="fas fa-user-plus"></i> Agregar amigo</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<br>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Nombre del amigo</h5>
								<p class="card-text">
									Edad: XX<br>
									Género: Masculino<br>
									Ubicación: Ciudad, País
								</p>
								<a href="#" class="btn btn-primary"><i class="fas fa-user-plus"></i> Agregar amigo</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Nombre del amigo</h5>
								<p class="card-text">
									Edad: XX<br>
									Género: Femenino<br>
									Ubicación: Ciudad, País
								</p>
								<a href="#" class="btn btn-primary"><i class="fas fa-user-plus"></i> Agregar amigo</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Nombre del amigo</h5>
								<p class="card-text">
									Edad: XX<br>
									Género: Otro<br>
									Ubicación: Ciudad, País
								</p>
								<a href="#" class="btn btn-primary"><i class="fas fa-user-plus"></i> Agregar amigo</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Nombre del amigo</h5>
								<p class="card-text">
									Edad: XX<br>
									Género: Otro<br>
									Ubicación: Ciudad, País
								</p>
								<a href="#" class="btn btn-primary"><i class="fas fa-user-plus"></i> Agregar amigo</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			</div>
		</div>


	<!-- Bootstrap JS and jQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>

