<header>
  <nav class="navbar navbar-expand-lg " style="background-color: #00484E;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav  ">
          <li class="nav-item">
            <a class="nav-link" href="/inicio"><i class="fas fa-home fa-2x"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/chat"><i class="fas fa-envelope fa-2x"></i></a>
          </li>
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <p class="yavimeet text-center">YaviMeet</p>
              </div>
            </div>
          </div>
          <li class="nav-item">
            <a class="nav-link" href="/noticias"><i class="fas fa-bell fa-2x"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link "routerLink="/grupos"><i class="fas fa-users fa-2x"></i></a>
          </li>
        </ul>
      </div>
    </nav>
</header>
